$gold: #9E8765;
$grey: #F2F1F0;
$darkgrey: rgb(71, 71, 71);
$KoHo: 'KoHo', sans-serif;
$OpenSans: 'Open Sans', sans-serif;

%text {
    font-size: 15px;
    font-family: $OpenSans;
    color: $darkgrey;
    line-height: 1.8rem;
}

%productName {
    font-weight: 500;
    font-family: $KoHo;
    color: $darkgrey;
}

%productPrice {
    @extend %text;
    margin: 20px 0;
    font-size: 25px;
}

%moreInfoBtn {
    border: none;
    display: block;
    background-color: transparent;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}