@media only screen and (max-width: 1050px) {
    .menu-item {
        font-size: 18px !important;
    }
    .intro-text {
        font-size: 18px;
        width: 70% !important;
    }
    .footer-content {
        width: 100% !important;
    }
    .footer-left {
        width: 50% !important;
    }
    .footer-right {
        margin-left: 60px !important;
    }
    .email-input {
        width: 250px !important;
    }
    .category-page {
        padding: 50px 100px !important;
    }
    .site-body {
        min-height: 60vh !important;
    }
    .product-page {
        padding: 0 100px !important;
    }
    .cart {
        padding: 50px 100px !important;
        flex-direction: column;
    }
    .cart-left-container {
        width: 100% !important;
    }
    .cart-right-container {
        width: 100% !important;
        margin-top: 40px;
    }
    .cart-products {
        margin-right: 0 !important;
    }
    .postage-box {
        padding: 15px !important;
    }
    .delivery-options-container {
        li {
            padding: 10px 20px !important;
        }
    }
    .static-page-container {
        min-height: 60vh !important;
        h1 {
            width: 80% !important;
        }
        .paragraphs {
            width: 80% !important;
            font-size: 17px !important;
        }
    }
    .error-page {
        min-height: 60vh !important;
        .error-page-content {
            width: 90% !important;
        }
    }   
}

@media only screen and (max-width: 600px) {
    .burger-nav-btn {
        display: flex !important;
    }
    .footer-left {
        width: 100% !important;
    }
    .footer-right {
        margin-left: 60px !important;
    }
    .email-input {
        width: 250px !important;
    }
    .site-header {
        padding: 50px 25px 30px 25px !important;
        align-items: center;
        justify-content: space-around;
    }
    .site-title {
        font-size: 30px !important;
        position: absolute;
    }
    .mobile-hidden {
        display: none;
    }
    .hero {
        top: 20px;
        height: 550px !important;
    }
    .hero-title {
        font-size: 40px !important;
    }
    .hero-text {
        padding-bottom: 40px !important;
    }
    .intro-text {
        width: 100% !important;
    }
    .galary-container {
        padding: 0 20px 100px 20px !important;
    }
    .product-galary {
        grid-template-columns: repeat(auto-fit, minmax(130px, 0.5fr)) !important;
    }
    .product-overview-container {
        height: 250px;
    }
    .category-page {
        padding: 50px 30px !important;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-left {
        width: 100% !important;
    }
    .footer-right {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .email-input {
        width: 100% !important;
    }
    .subscribe-btn {
        display: block !important;
        margin: 20px auto;
        width: 100%;
    }
    .static-page-container {
        margin: 0 !important;
        padding: 100px 40px !important;
        h1 {
            width: 100% !important;
        }
        .paragraphs {
            width: 100% !important;
        }
    }
    .product-details-container {
        flex-direction: column !important;
        margin-top: 50px;
    }
    .product-page {
        padding: 0 40px !important;
    }
    .product-page-nav {
        display: none !important;
    }
    .thumbnails-container {
        width: 100% !important;
        display: flex;
        .thumbnail {
            width: 40px !important;
            margin-right: 10px;
            height: auto !important;
        }
    }
    .large-product-image {
        width: 100% !important;
        margin-top: 20px;
    }
    .content {
        width: 100% !important;
        margin-top: 40px;
    }
    .slide-out-cart {
        header,
        .subtotal-container,
        .view-cart-container,
        .view-cart-btn {
            width: 100% !important;
        }
        main {
            height: fit-content !important;
            overflow-y: auto !important;
            width: 100% !important;
        }
    }
    .cart {
        padding: 50px 30px !important;
    }
    .empty-cart-container {
        height: 40vh !important;
        border-bottom: none !important;
        h2 {
            padding-top: 17vh !important;
        }
    }
    .cart-product-image {
        width: 25% !important;
    }
    .cart-product-info {
        width: 70% !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
    .cart-price {
        margin-top: 10px;
    }
    .cart-product-basics {
        width: 80% !important;
    }
    .quantityControl {
        margin: 20px 0 !important;
    }
    .cart-product-subtotal {
        bottom: 55px;
        top: auto !important;
        right: 0 !important;
    }
    .promo-code-input {
        width: 80% !important;
    }
    .apply-btn {
        width: 20%;
        text-align: center !important;
        padding: 10px auto !important;
    }
    .promo-code-box {
        width: 100% !important;
    }
    .note-textarea {
        width: 100% !important;
    }
    .country-select-container {
        width: 90% !important;
        padding: 80px 20px !important;
    }
    .country-select-box {
        width: 100% !important;
    }
    .suggestion-box {
        width: 100% !important;
    }
}

@media only screen and (max-width: 350px) {
    .site-header {
        padding: 15px !important;
    }
    .site-title {
        font-size: 20px !important;
        width: 70%;
        margin-top: 10px;
        text-align: left !important;
    }
    .site-body {
        margin-top: 40px !important;
    }
    .burger-nav-icon {
        width: 30px !important;
        &::before {
            width: 30px !important;
            left: 10px !important;
            transform: translateY(10px) !important;
        }
        &::after {
            width: 30px !important;
            left: 10px !important;
            transform: translateY(-10px) !important;
        }
        &.close-mobile {
            transform: translateX(-30px) !important;
            &::before {
                transform: rotate(45deg) translate(15px, -15px) !important;
            }
            &::after {
                transform: rotate(-45deg) translate(15px, 15px) !important;
            }
        }
    }
    .hero-title {
        font-size: 30px !important;
    }
    .site-intro {
        padding: 80px 15px !important;
    }
    .galary-container {
        padding: 0 15px 50px 15px !important;
    }
    .product-galary {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) !important;
    }
    .static-page-container {
        padding: 80px 15px 50px 15px !important;
    }
    .brand-logo {
        width: 50%;
        height: auto;
    }
    .menu-list {
        padding: 90px 0 !important;
    }
    .menu-item {
        font-size: 20px !important;
        padding: 20px !important;
    }
    .nav-bar-cart-btn {
        left: 50px !important;
    }

}
