.product-details-container .content .product-price, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container p, .product-page .care-instruction-container .care-text, .product-details-container .content .product-description-container, .cart-product-row .cart-product-info h2, .cart-product-row .cart-product-info .cart-price, .cart-product-row .cart-product-info .quantityControl p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #474747;
  line-height: 1.8rem;
}

.product-details-container .content .product-name, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container h1 {
  font-weight: 500;
  font-family: "KoHo", sans-serif;
  color: #474747;
}

.product-details-container .content .product-price, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container p {
  margin: 20px 0;
  font-size: 25px;
}

.product-details-container .content .product-description-container #toggle-content-btn, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container .more-info-btn {
  border: none;
  display: block;
  background-color: transparent;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.quick-view-wrapper, #slide-out-cart-wrapper .dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  text-align: center;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F2F1F0;
}

.App {
  background-color: #F2F1F0;
}

.site-header {
  padding: 20px 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 20;
  background-color: #F2F1F0;
  width: 100%;
}

.site-header .site-title {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.site-header .site-title:hover, .site-header .site-title :active, .site-header .site-title :focus {
  color: #9E8765;
}

.site-header .nav-bar-cart-btn {
  position: absolute;
  right: 50px;
  bottom: 25px;
  color: white;
  z-index: 20;
  border: none;
  outline: none;
  font-size: 9px;
  cursor: pointer;
}

.site-header .nav-bar-cart-btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 23px;
  content: "\f07a";
  position: absolute;
  color: gray;
  z-index: -10;
  right: -8px;
  top: -4px;
}

.site-header .nav-bar {
  margin-top: 20px;
}

.site-header .nav-bar .menu-list {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .nav-bar .menu-list .menu-item {
  list-style-type: none;
  display: inline-block;
  width: 120px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.site-header .nav-bar .menu-list .menu-item:hover, .site-header .nav-bar .menu-list .menu-item :active, .site-header .nav-bar .menu-list .menu-item :focus {
  color: #9E8765 !important;
}

.site-body {
  min-height: 100vh;
  height: auto;
  margin-top: 100px;
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
}

.hero .hero-image {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
}

.hero .hero-text {
  position: absolute;
  bottom: 70px;
  left: 30%;
  color: white;
}

.hero .hero-text .hero-title {
  font-family: "KoHo", sans-serif;
  font-size: 72px;
}

.hero .hero-text .hero-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.site-intro {
  background-color: white;
  padding: 80px 40px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.site-intro .intro-heading {
  font-family: "KoHo", sans-serif;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
}

.site-intro .intro-text {
  font-family: "Open Sans", sans-serif;
  width: 50%;
  margin: 0 auto;
  line-height: 1.8rem;
}

.galary-container {
  padding: 0 30px 100px 30px;
  background-color: white;
}

.category-page {
  padding: 50px 150px;
}

.category-page .category-title {
  text-align: left;
  font-family: "KoHo", sans-serif;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 25px;
}

.product-galary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  grid-auto-flow: row;
}

.product-galary .product-overview-container {
  cursor: pointer;
  background-color: white;
  border: none;
  font-family: "Open Sans", sans-serif;
}

.product-galary .product-overview-container:hover .quick-view-btn {
  height: 56px;
  padding: 20px;
}

.product-galary .product-overview-container .flip-image {
  position: relative;
}

.product-galary .product-overview-container .flip-image .display-image {
  width: 100%;
  height: auto;
  display: block;
}

.product-galary .product-overview-container .quick-view-btn {
  position: absolute;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.product-galary .product-overview-container .product-overview-title {
  margin-top: 10px;
  font-weight: 400;
}

.product-galary .product-overview-container .product-overview-title:after {
  content: " ";
  width: 20px;
  display: block;
  height: 1px;
  border-bottom: 1px solid black;
  margin: 10px auto;
}

.product-galary .product-overview-container .product-overview-text {
  color: gray;
}

.product-page {
  padding: 0 200px;
}

.product-page .product-page-nav {
  padding: 60px 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-page .product-page-nav .breadcrumb-menu {
  display: inline-block;
}

.product-page .product-page-nav .breadcrumb-menu li {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
}

.product-page .product-page-nav .breadcrumb-menu .breadcrumb-prev:after {
  content: "/";
  margin-left: 5px;
}

.product-page .product-page-nav .breadcrumb-menu .breadcrumb-current {
  color: gray;
  cursor: default;
}

.product-page .product-page-nav .product-navigation {
  display: inline-block;
}

.product-page .product-page-nav .product-navigation li {
  display: inline-block;
  cursor: pointer;
}

.product-page .product-page-nav .product-navigation #prev-btn:before {
  content: "<";
  margin-right: 5px;
}

.product-page .product-page-nav .product-navigation #prev-btn:after {
  content: "|";
  margin: 0 5px;
}

.product-page .product-page-nav .product-navigation #next-btn:after {
  content: ">";
  margin-left: 5px;
}

.product-page .care-instruction-container {
  padding: 100px 0;
  text-align: left;
}

.product-page .care-instruction-container .care-title {
  font-weight: 400;
  font-family: "KoHo", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-details-container .thumbnails-container {
  width: 5%;
}

.product-details-container .thumbnails-container .thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.product-details-container .large-product-image {
  width: 47%;
}

.product-details-container .large-product-image img {
  width: 100%;
}

.product-details-container .content {
  width: 35%;
  text-align: left;
}

.product-details-container .content .product-description-container {
  margin-bottom: 20px;
}

.product-details-container .content .product-description-container .product-description.clamped {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-details-container .content .product-description-container .notVisible {
  display: none;
}

.product-details-container .content .product-description-container .isVisible {
  display: block;
}

.product-details-container .content .product-description-container #extra-info {
  margin-top: 20px;
}

label {
  display: block;
  width: 80px;
  text-align: left;
}

label input {
  width: 80px;
  padding: 10px;
  border-radius: 0;
  border: 1px solid #9e9e9e;
  outline: none;
  margin: 10px 0 30px 0;
}

.add-to-cart-btn {
  width: 100%;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 13px;
  font-size: 17px;
  cursor: pointer;
}

.add-to-cart-btn:hover, .add-to-cart-btn :active {
  background-color: #474747;
  color: #F2F1F0;
}

.quick-view-wrapper {
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 40;
}

.quick-view-wrapper .quick-view-container {
  width: 70%;
  height: 80%;
  background-color: white;
  display: block;
  margin: 5% auto;
  padding: 30px;
}

.quick-view-wrapper .quick-view-container .close-btn {
  padding: 0 8px;
  background-color: transparent;
  font-size: 30px;
  display: block;
  float: right;
  margin: 10px;
  cursor: pointer;
  border: none;
}

.quick-view-wrapper .quick-view-container .quick-view-content {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container {
  width: 50%;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container img {
  width: 100%;
  display: block;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container {
  width: 40%;
  margin-left: 10%;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container h1 {
  text-align: left;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container p {
  text-align: left;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container .more-info-btn {
  margin-top: 20px;
}

.image-control-dots {
  padding: 15px 0;
}

.image-control-dots .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#slide-out-cart-wrapper .dimmer {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 40;
  overflow-x: hidden;
}

#slide-out-cart-wrapper .slide-out-cart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  background-color: white;
  height: 100vh;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#slide-out-cart-wrapper .slide-out-cart header {
  padding: 35px;
  width: 370px;
  background-color: black;
  color: white;
  display: block;
}

#slide-out-cart-wrapper .slide-out-cart header .slide-right-btn {
  position: absolute;
  left: 35px;
  top: 30px;
  outline: none;
  border: none;
}

#slide-out-cart-wrapper .slide-out-cart header .slide-right-btn i {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

#slide-out-cart-wrapper .slide-out-cart header h1 {
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  font-size: 23px;
}

#slide-out-cart-wrapper .slide-out-cart main {
  height: 400px;
  padding: 30px;
  width: 370px;
  margin: 0 auto;
  overflow-y: scroll;
}

#slide-out-cart-wrapper .slide-out-cart main .empty-cart {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

#slide-out-cart-wrapper .slide-out-cart .subtotal-container {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 30px;
  width: 370px;
  display: block;
  margin: 0 auto;
}

#slide-out-cart-wrapper .slide-out-cart .subtotal-container p {
  text-align: left;
  color: black;
  font-size: 24px;
  margin: 10px 0;
}

#slide-out-cart-wrapper .slide-out-cart .view-cart-container {
  width: 370px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 30px;
}

#slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn {
  width: 290px;
  margin: 0 auto;
  padding: 15px;
  background-color: #9E8765;
  display: block;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

#slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn:hover, #slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn :active, #slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn :focus {
  background-color: rgba(158, 135, 101, 0.7);
}

.cart-product-row {
  padding: 20px 0;
  border-bottom: 1px solid #F2F1F0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart-product-row:last-child {
  border: none;
}

.cart-product-row:hover .delete-product-in-cart {
  opacity: 1;
}

.cart-product-row .cart-product-image {
  width: 70px;
  margin-right: 15px;
}

.cart-product-row .cart-product-image img {
  width: 100%;
  display: block;
}

.cart-product-row .cart-product-info {
  width: 180px;
}

.cart-product-row .cart-product-info h2 {
  color: gray;
  text-align: left;
}

.cart-product-row .cart-product-info .cart-price {
  text-align: left;
}

.cart-product-row .cart-product-info .quantityControl {
  border: 1px solid black;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.cart-product-row .cart-product-info .quantityControl button {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 8px;
}

.cart-product-row .cart-product-info .quantityControl button i {
  padding: 7px;
  display: block;
  color: gray;
}

.cart-product-row .cart-product-info .quantityControl p {
  display: inline;
  margin: 0 5px;
  font-size: 13px;
}

.cart-product-row .delete-product-in-cart {
  position: absolute;
  opacity: 0;
  right: 20px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  top: 25px;
  height: 20px;
  width: 20px;
  border: 1px solid #F2F1F0;
  background-color: white;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.site-footer {
  padding: 50px;
  bottom: 0;
  width: 100%;
  z-index: 40;
}
/*# sourceMappingURL=App.css.map */