@import "../../utilities/helpers.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // border: 1px solid red;
}

html, body {
    width: 100%;
    text-align: center;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $grey;
}

.App {
    background-color: $grey;
}

.site-header {
    padding: 20px 0;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 20;
    background-color: $grey;
    width: 100%;
    .site-title {
        font-family: $KoHo;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
        &:hover, :active, :focus {
            color: $gold;
        }
    }
    .nav-bar {
        margin-top: 20px;
        .menu-list {
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .menu-item {
                list-style-type: none;
                display: inline-block;
                width: 120px;
                cursor: pointer;
                font-family: $OpenSans;
               &:hover, :active, :focus {
                   color: $gold;
               }
            }
        }
    }
}

.site-body {
    min-height: 100vh;
    height: auto;
    margin-top: 100px;
}

.homepage {
    .hero {
        position: relative;
        width: 100%;
        height: auto;
        .hero-image {
            width: 100%;
            height: 650px;
            object-fit: cover;
            left: 0;
        }
        .hero-text {
            position: absolute;
            bottom: 70px;
            left: 30%;
            color: white;
            .hero-title {              
                font-family: $KoHo;
                font-size: 72px;
                
            }
            .hero-subtitle {
                font-family: $OpenSans;
                font-weight: 400;
                font-size: 20px;
            }
        }       
    }
    .site-intro {
        background-color: white;
        padding: 80px 40px;
        background-color: white;
        margin: 0 auto;
        text-align: center;
        .intro-heading {
            font-family: $KoHo;
            margin-bottom: 30px;
            font-size: 30px;
            font-weight: 500;
        }
        .intro-text {
            font-family: $OpenSans;
            width: 50%;
            margin: 0 auto;
            line-height: 1.8rem;
        }
    }
}

.product-galary {
    padding: 0 25px 40px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    grid-auto-flow: row;
    background-color: white;
    .product-overview-container {
        cursor: pointer;
        background-color: white;
        border: none;
        font-family: $OpenSans;
        .display-image {
            width: 100%;
            height: auto;
        }
        .product-overview-title {
            margin-top: 10px;
            font-weight: 400;
            &:after {
                content: " ";
                width: 20px;
                display: block;
                height: 1px;
                border-bottom: 1px solid black;
                margin: 10px auto;
            }
        }
        .product-overview-text {
            color: gray;
        }
    }
}

.product-page {
    padding: 0 200px;
    .product-page-nav {
        padding: 60px 0;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        .breadcrumb-menu {
            display: inline-block;
            li {
                display: inline-block;
                cursor: pointer;
                margin: 0 5px;
            }
            .breadcrumb-prev {
                &:after {
                    content: "/";
                    margin-left: 5px;
                }
            }
            .breadcrumb-current {
                color: gray;
                cursor: default;
            }
        }
        .product-navigation {
            display: inline-block;
            li {
                display: inline-block;
                cursor: pointer;
            }
            .prev-btn {
                &:before {
                    content: "<";
                    margin-right: 5px;
                }
                &:after {
                    content: "|";
                    margin: 0 5px;
                }
            }
            .next-btn {
                &:after {
                    content: ">";
                    margin-left: 5px;
                }
            }           
        }
    }
}



.site-footer {
    padding: 50px;
    bottom: 0;
    width: 100%;
    z-index: 40;
}

