.product-details-container .content .product-price, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container p, .cart .cart-right-container .checkout-btn, .country-select-wrapper .country-select-container .update-btn, .product-page .care-instruction-container .care-text, .product-details-container .content .product-description-container, .cart-product-row .cart-product-info h2, .cart-product-row .cart-product-info .cart-price, .cart-product-row .cart-product-info .quantityControl p, .cart .empty-cart-container .empty-cart-prompt h2, .cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-subtotal, .country-select-wrapper .country-select-container .country-prompt, .country-select-wrapper .country-select-container .country-select-inner-container .suggestion-box .suggestion, .site-footer .footer-content .footer-left .quick-link-list li, .site-footer .footer-content .footer-left .quick-link-list .footer-page-link, .static-page-container .paragraphs, .error-page .error-page-content p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #474747;
  line-height: 1.8rem;
}

.product-details-container .content .product-name, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container h1, .static-page-container h1, .error-page .error-page-content h1 {
  font-weight: 500;
  font-family: "KoHo", sans-serif;
  color: #474747;
}

.product-details-container .content .product-price, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container p {
  margin: 20px 0;
  font-size: 25px;
}

.product-details-container .content .product-description-container #toggle-content-btn, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container .more-info-btn, .cart .cart-right-container .current-country {
  border: none;
  display: block;
  background-color: transparent;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.quick-view-wrapper, #slide-out-cart-wrapper .dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.cart h1, .cart .cart-right-container h1, .cart .cart-right-container .total-row, .site-footer .footer-content .footer-left h2 {
  font-family: "KoHo", sans-serif;
  color: black;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-right: 50px;
  border-bottom: 1px solid #c4c4c4;
}

.cart .cart-right-container .checkout-btn, .country-select-wrapper .country-select-container .update-btn {
  padding: 10px;
  width: 100%;
  color: white;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.quick-view-wrapper .quick-view-container .close-btn, .country-select-wrapper .country-select-container .close-btn {
  padding: 0 8px;
  background-color: transparent;
  font-size: 30px;
  display: block;
  margin: 10px;
  cursor: pointer;
  border: none;
}

.burger-nav-btn .burger-nav-icon, .burger-nav-btn .burger-nav-icon::before, .burger-nav-btn .burger-nav-icon::after {
  height: 4px;
  width: 40px;
  background-color: black;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.site-header .nav-bar .desktop-menu .nav-bar-cart-btn, .site-header .nav-bar .mobile-menu .nav-bar-cart-btn {
  position: absolute;
  color: white;
  z-index: 20;
  border: none;
  outline: none;
  font-size: 9px;
  cursor: pointer;
}

.site-header .nav-bar .desktop-menu .nav-bar-cart-btn::before, .site-header .nav-bar .mobile-menu .nav-bar-cart-btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 23px;
  content: "\f07a";
  position: absolute;
  color: gray;
  z-index: -10;
  right: -8px;
  top: -4px;
}

.error-alert, .cart .cart-right-container .postage-eligibility-alert {
  background-color: #fddfe4;
  padding: 13px;
}

.error-alert i, .cart .cart-right-container .postage-eligibility-alert i {
  color: red;
  margin-right: 10px;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .prev-btn, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .next-btn {
  border: 0;
  padding: 50px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  color: gray;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .prev-btn:hover, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .next-btn:hover, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .prev-btn :active, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .next-btn :active, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .prev-btn :focus i, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .next-btn :focus i {
  color: black;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .prev-btn i, .quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .next-btn i {
  font-size: 25px;
}

@media only screen and (max-width: 1050px) {
  .menu-item {
    font-size: 18px !important;
  }
  .intro-text {
    font-size: 18px;
    width: 70% !important;
  }
  .footer-content {
    width: 100% !important;
  }
  .footer-left {
    width: 50% !important;
  }
  .footer-right {
    margin-left: 60px !important;
  }
  .email-input {
    width: 250px !important;
  }
  .category-page {
    padding: 50px 100px !important;
  }
  .site-body {
    min-height: 60vh !important;
  }
  .product-page {
    padding: 0 100px !important;
  }
  .cart {
    padding: 50px 100px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-left-container {
    width: 100% !important;
  }
  .cart-right-container {
    width: 100% !important;
    margin-top: 40px;
  }
  .cart-products {
    margin-right: 0 !important;
  }
  .postage-box {
    padding: 15px !important;
  }
  .delivery-options-container li {
    padding: 10px 20px !important;
  }
  .static-page-container {
    min-height: 60vh !important;
  }
  .static-page-container h1 {
    width: 80% !important;
  }
  .static-page-container .paragraphs {
    width: 80% !important;
    font-size: 17px !important;
  }
  .error-page {
    min-height: 60vh !important;
  }
  .error-page .error-page-content {
    width: 90% !important;
  }
}

@media only screen and (max-width: 600px) {
  .burger-nav-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .footer-left {
    width: 100% !important;
  }
  .footer-right {
    margin-left: 60px !important;
  }
  .email-input {
    width: 250px !important;
  }
  .site-header {
    padding: 50px 25px 30px 25px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .site-title {
    font-size: 30px !important;
    float: left;
  }
  .mobile-hidden {
    display: none;
  }
  .hero {
    top: 20px;
    height: 550px !important;
  }
  .hero-title {
    font-size: 40px !important;
  }
  .hero-text {
    padding-bottom: 40px !important;
  }
  .intro-text {
    width: 100% !important;
  }
  .galary-container {
    padding: 0 20px 100px 20px !important;
  }
  .product-galary {
    -ms-grid-columns: (minmax(130px, 0.5fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(130px, 0.5fr)) !important;
  }
  .product-overview-container {
    height: 250px;
  }
  .category-page {
    padding: 50px 30px !important;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-left {
    width: 100% !important;
  }
  .footer-right {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .email-input {
    width: 100% !important;
  }
  .subscribe-btn {
    display: block !important;
    margin: 20px auto;
    width: 100%;
  }
  .static-page-container {
    margin: 0 !important;
    padding: 100px 40px !important;
  }
  .static-page-container h1 {
    width: 100% !important;
  }
  .static-page-container .paragraphs {
    width: 100% !important;
  }
  .product-details-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-top: 50px;
  }
  .product-page {
    padding: 0 40px !important;
  }
  .product-page-nav {
    display: none !important;
  }
  .thumbnails-container {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .thumbnails-container .thumbnail {
    width: 40px !important;
    margin-right: 10px;
    height: auto !important;
  }
  .large-product-image {
    width: 100% !important;
    margin-top: 20px;
  }
  .content {
    width: 100% !important;
    margin-top: 40px;
  }
  .slide-out-cart header,
  .slide-out-cart .subtotal-container,
  .slide-out-cart .view-cart-container,
  .slide-out-cart .view-cart-btn {
    width: 100% !important;
  }
  .slide-out-cart main {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    overflow-y: auto !important;
    width: 100% !important;
  }
  .cart {
    padding: 50px 30px !important;
  }
  .empty-cart-container {
    height: 40vh !important;
    border-bottom: none !important;
  }
  .empty-cart-container h2 {
    padding-top: 17vh !important;
  }
  .cart-product-image {
    width: 25% !important;
  }
  .cart-product-info {
    width: 70% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .cart-price {
    margin-top: 10px;
  }
  .cart-product-basics {
    width: 80% !important;
  }
  .quantityControl {
    margin: 20px 0 !important;
  }
  .cart-product-subtotal {
    bottom: 55px;
    top: auto !important;
    right: 0 !important;
  }
  .promo-code-input {
    width: 80% !important;
  }
  .apply-btn {
    width: 20%;
    text-align: center !important;
    padding: 10px auto !important;
  }
  .promo-code-box {
    width: 100% !important;
  }
  .note-textarea {
    width: 100% !important;
  }
  .country-select-container {
    width: 90% !important;
    padding: 80px 20px !important;
  }
  .country-select-box {
    width: 100% !important;
  }
  .suggestion-box {
    width: 100% !important;
  }
}

@media only screen and (max-width: 350px) {
  .site-header {
    padding: 15px !important;
  }
  .site-title {
    font-size: 20px !important;
    width: 70%;
    margin-top: 10px;
    text-align: left !important;
  }
  .site-body {
    margin-top: 40px !important;
  }
  .burger-nav-icon {
    width: 30px !important;
  }
  .burger-nav-icon::before {
    width: 30px !important;
    left: 10px !important;
    -webkit-transform: translateY(10px) !important;
            transform: translateY(10px) !important;
  }
  .burger-nav-icon::after {
    width: 30px !important;
    left: 10px !important;
    -webkit-transform: translateY(-10px) !important;
            transform: translateY(-10px) !important;
  }
  .burger-nav-icon.close-mobile {
    -webkit-transform: translateX(-30px) !important;
            transform: translateX(-30px) !important;
  }
  .burger-nav-icon.close-mobile::before {
    -webkit-transform: rotate(45deg) translate(15px, -15px) !important;
            transform: rotate(45deg) translate(15px, -15px) !important;
  }
  .burger-nav-icon.close-mobile::after {
    -webkit-transform: rotate(-45deg) translate(15px, 15px) !important;
            transform: rotate(-45deg) translate(15px, 15px) !important;
  }
  .hero-title {
    font-size: 30px !important;
  }
  .site-intro {
    padding: 80px 15px !important;
  }
  .galary-container {
    padding: 0 15px 50px 15px !important;
  }
  .product-galary {
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fill] !important;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) !important;
  }
  .static-page-container {
    padding: 80px 15px 50px 15px !important;
  }
  .brand-logo {
    width: 50%;
    height: auto;
  }
  .menu-list {
    padding: 90px 0 !important;
  }
  .menu-item {
    font-size: 20px !important;
    padding: 20px !important;
  }
  .nav-bar-cart-btn {
    left: 50px !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.link, .nav-link {
  text-decoration: none;
  color: black;
}

html, body {
  width: 100%;
  text-align: center;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F2F1F0;
  scroll-behavior: smooth;
}

.App {
  background-color: #F2F1F0;
}

.site-header {
  padding: 20px 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 20;
  background-color: #F2F1F0;
  width: 100%;
}

.site-header .site-title {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.site-header .site-title:hover, .site-header .site-title :active, .site-header .site-title :focus {
  color: #9E8765;
}

.site-header .nav-bar {
  margin-top: 20px;
}

.site-header .nav-bar .desktop-menu .menu-list {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .nav-bar .desktop-menu .menu-list .menu-item {
  list-style-type: none;
  display: inline-block;
  width: 120px;
  cursor: pointer;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.site-header .nav-bar .desktop-menu .menu-list .menu-item:hover, .site-header .nav-bar .desktop-menu .menu-list .menu-item :active, .site-header .nav-bar .desktop-menu .menu-list .menu-item :focus {
  color: #9E8765 !important;
}

.site-header .nav-bar .desktop-menu .menu-list .menu-item .active {
  color: #9E8765;
}

.site-header .nav-bar .desktop-menu .nav-bar-cart-btn {
  right: 50px;
  bottom: 30px;
}

.site-header .nav-bar .mobile-menu {
  display: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site-header .nav-bar .mobile-menu .menu-list {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.site-header .nav-bar .mobile-menu .menu-list .menu-item {
  list-style-type: none;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 25px !important;
  padding: 30px;
}

.site-header .nav-bar .mobile-menu .menu-list .menu-item:hover, .site-header .nav-bar .mobile-menu .menu-list .menu-item :active, .site-header .nav-bar .mobile-menu .menu-list .menu-item :focus {
  color: #9E8765 !important;
}

.site-header .nav-bar .mobile-menu .menu-list .menu-item .active {
  color: #9E8765;
}

.site-header .nav-bar .mobile-menu .nav-bar-cart-btn {
  left: 70px;
  top: 100px;
}

.site-body {
  min-height: 100vh;
  height: auto;
  margin-top: 100px;
}

.hero {
  position: relative;
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero .hero-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  display: block;
  left: 0;
}

.hero .hero-text {
  padding-bottom: 70px;
  color: white;
  z-index: 3;
  width: 100%;
}

.hero .hero-text .hero-title {
  font-family: "KoHo", sans-serif;
  font-size: 72px;
}

.hero .hero-text .hero-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.site-intro {
  background-color: white;
  padding: 80px 40px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.site-intro .intro-heading {
  font-family: "KoHo", sans-serif;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
}

.site-intro .intro-text {
  font-family: "Open Sans", sans-serif;
  width: 50%;
  margin: 0 auto;
  line-height: 1.8rem;
}

.galary-container {
  padding: 0 30px 100px 30px;
  background-color: white;
}

.category-page {
  padding: 50px 150px;
}

.category-page .category-title {
  text-align: left;
  font-family: "KoHo", sans-serif;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 25px;
}

.product-galary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  grid-auto-flow: row;
}

.product-galary .product-overview-container {
  cursor: pointer;
  background-color: white;
  border: none;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-galary .product-overview-container:hover .quick-view-btn {
  height: 56px;
  padding: 20px;
}

.product-galary .product-overview-container .flip-image {
  position: relative;
}

.product-galary .product-overview-container .flip-image .display-image {
  width: 100%;
  height: auto;
  display: block;
}

.product-galary .product-overview-container .quick-view-btn {
  position: absolute;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.product-galary .product-overview-container .product-overview-title {
  margin-top: 10px;
  font-weight: 400;
  width: 100%;
}

.product-galary .product-overview-container .product-overview-title:after {
  content: " ";
  width: 20px;
  display: block;
  height: 1px;
  border-bottom: 1px solid black;
  margin: 10px auto;
}

.product-galary .product-overview-container .product-overview-text {
  width: 100%;
  color: gray;
}

.product-page {
  padding: 0 200px;
}

.product-page .product-page-nav {
  padding: 60px 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-page .product-page-nav .breadcrumb-menu {
  display: inline-block;
}

.product-page .product-page-nav .breadcrumb-menu li {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
}

.product-page .product-page-nav .breadcrumb-menu .breadcrumb-prev:after {
  content: "/";
  margin-left: 5px;
}

.product-page .product-page-nav .breadcrumb-menu .breadcrumb-current {
  color: gray;
  cursor: default;
}

.product-page .product-page-nav .product-navigation {
  display: inline-block;
}

.product-page .product-page-nav .product-navigation li {
  display: inline-block;
  cursor: pointer;
}

.product-page .product-page-nav .product-navigation #prev-btn:before {
  content: "<";
  margin-right: 5px;
}

.product-page .product-page-nav .product-navigation #prev-btn:after {
  content: "|";
  margin: 0 5px;
}

.product-page .product-page-nav .product-navigation #next-btn:after {
  content: ">";
  margin-left: 5px;
}

.product-page .product-mobile-nav {
  margin-top: 150px;
}

.product-page .product-mobile-nav .back-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.product-page .product-mobile-nav .back-btn:before {
  content: "<";
  margin-right: 10px;
}

.product-page .care-instruction-container {
  padding: 100px 0;
  text-align: left;
}

.product-page .care-instruction-container .care-title {
  font-weight: 400;
  font-family: "KoHo", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-details-container .thumbnails-container {
  width: 5%;
}

.product-details-container .thumbnails-container .thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.product-details-container .large-product-image {
  width: 47%;
}

.product-details-container .large-product-image img {
  width: 100%;
}

.product-details-container .content {
  width: 35%;
  text-align: left;
}

.product-details-container .content .product-description-container {
  margin-bottom: 20px;
}

.product-details-container .content .product-description-container .product-description.clamped {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-details-container .content .product-description-container .notVisible {
  display: none;
}

.product-details-container .content .product-description-container .isVisible {
  display: block;
}

.product-details-container .content .product-description-container #extra-info {
  margin-top: 20px;
}

.product-details-container .content .product-description-container #toggle-content-btn {
  margin-top: 10px;
}

label {
  display: block;
  width: 80px;
  text-align: left;
}

label input {
  width: 80px;
  padding: 10px;
  border-radius: 0;
  border: 1px solid #9e9e9e;
  outline: none;
  margin: 10px 0 0 0;
}

.error-alert {
  display: none;
  font-size: 15px;
  position: absolute;
  margin-top: 5px;
}

.error-alert::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fddfe4 transparent;
}

.add-to-cart-btn {
  width: 100%;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 13px;
  font-size: 17px;
  margin-top: 50px;
  cursor: pointer;
}

.add-to-cart-btn:hover, .add-to-cart-btn :active {
  background-color: #474747;
  color: #F2F1F0;
}

.quick-view-wrapper {
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 40;
}

.quick-view-wrapper .quick-view-container {
  width: 70%;
  height: 80%;
  background-color: white;
  display: block;
  margin: 5% auto;
  padding: 30px;
}

.quick-view-wrapper .quick-view-container .close-btn {
  float: right;
}

.quick-view-wrapper .quick-view-container .quick-view-content {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container {
  width: 50%;
  position: relative;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container:hover .prev-btn {
  opacity: 1;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container:hover .next-btn {
  opacity: 1;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container img {
  width: 100%;
  display: block;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .prev-btn {
  left: 0;
  top: 30%;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-image-container .next-btn {
  right: 0;
  top: 30%;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container {
  width: 40%;
  margin-left: 10%;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container h1 {
  text-align: left;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container p {
  text-align: left;
}

.quick-view-wrapper .quick-view-container .quick-view-content .quick-view-text-container .more-info-btn {
  margin-top: 20px;
}

.image-control-dots {
  padding: 15px 0;
}

.image-control-dots .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#slide-out-cart-wrapper .dimmer {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 40;
  overflow-x: hidden;
}

#slide-out-cart-wrapper .slide-out-cart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  background-color: white;
  height: 100vh;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#slide-out-cart-wrapper .slide-out-cart header {
  padding: 35px;
  width: 370px;
  background-color: black;
  color: white;
  display: block;
}

#slide-out-cart-wrapper .slide-out-cart header .slide-right-btn {
  position: absolute;
  left: 35px;
  top: 30px;
  outline: none;
  border: none;
}

#slide-out-cart-wrapper .slide-out-cart header .slide-right-btn i {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

#slide-out-cart-wrapper .slide-out-cart header h1 {
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  font-size: 23px;
}

#slide-out-cart-wrapper .slide-out-cart main {
  height: 400px;
  padding: 30px;
  width: 370px;
  margin: 0 auto;
  overflow-y: scroll;
}

#slide-out-cart-wrapper .slide-out-cart main .empty-cart {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

#slide-out-cart-wrapper .slide-out-cart .subtotal-container {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 30px;
  width: 370px;
  display: block;
  margin: 0 auto;
}

#slide-out-cart-wrapper .slide-out-cart .subtotal-container p {
  text-align: left;
  color: black;
  font-size: 24px;
  margin: 10px 0;
}

#slide-out-cart-wrapper .slide-out-cart .view-cart-container {
  width: 370px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 30px;
}

#slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn {
  border: none;
  outline: none;
}

#slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn .link {
  color: white;
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 290px;
  margin: 0 auto;
  padding: 15px;
  background-color: #9E8765;
  cursor: pointer;
}

#slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn .link:hover, #slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn .link :active, #slide-out-cart-wrapper .slide-out-cart .view-cart-container .view-cart-btn .link :focus {
  background-color: rgba(158, 135, 101, 0.7);
}

.cart-product-row {
  padding: 20px 0;
  border-bottom: 1px solid #F2F1F0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart-product-row:last-child {
  border: none;
}

.cart-product-row:hover .delete-product-in-cart {
  opacity: 1;
}

.cart-product-row .cart-product-image {
  width: 70px;
  margin-right: 15px;
}

.cart-product-row .cart-product-image img {
  width: 100%;
  display: block;
  cursor: pointer;
}

.cart-product-row .cart-product-info {
  width: 180px;
}

.cart-product-row .cart-product-info h2 {
  color: gray;
  text-align: left;
}

.cart-product-row .cart-product-info .cart-price {
  text-align: left;
}

.cart-product-row .cart-product-info .quantityControl {
  border: 1px solid black;
  width: 70px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.cart-product-row .cart-product-info .quantityControl button {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 8px;
}

.cart-product-row .cart-product-info .quantityControl button i {
  padding: 7px;
  display: block;
  color: gray;
}

.cart-product-row .cart-product-info .quantityControl p {
  display: inline;
  margin: 0 5px;
  font-size: 13px;
}

.cart-product-row .delete-product-in-cart {
  position: absolute;
  opacity: 0;
  right: 20px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  top: 25px;
  height: 20px;
  width: 20px;
  border: 1px solid #F2F1F0;
  background-color: white;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 150px;
  text-align: left;
}

.cart h1 {
  width: 100%;
}

.cart .empty-cart-container {
  width: 100%;
  height: 80vh;
  border-bottom: 1px solid #c4c4c4;
}

.cart .empty-cart-container .empty-cart-prompt h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 30vh;
  margin-bottom: 15px;
}

.cart .empty-cart-container .empty-cart-prompt p {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.cart .cart-left-container {
  width: 70%;
}

.cart .cart-left-container .toggle-btn {
  border: none;
  color: #9E8765;
  font-size: 15px;
  margin-bottom: 15px;
  display: block;
  cursor: pointer;
}

.cart .cart-left-container .toggle-btn svg {
  margin-right: 10px;
}

.cart .cart-left-container .cart-products {
  padding: 20px 0;
  margin-right: 50px;
  margin-bottom: 10px;
}

.cart .cart-left-container .cart-products .cart-row-wrapper {
  position: relative;
  border-bottom: 1px solid #c4c4c4;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row .cart-product-image {
  width: 100px;
  margin-right: 30px;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row .cart-product-image img {
  border: 1px solid #c4c4c4;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row .cart-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 350px;
  padding-right: 30px;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row .cart-product-info .cart-product-basics {
  width: 70%;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row .cart-product-info .cart-product-basics h2 {
  color: black;
  font-weight: 400;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row .cart-product-info .quantityControl {
  margin: 0 20px;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-row .delete-product-in-cart {
  background-color: transparent;
  font-size: 25px;
  color: gray;
  opacity: 1;
  top: 20px;
  right: 0;
}

.cart .cart-left-container .cart-products .cart-row-wrapper .cart-product-subtotal {
  position: absolute;
  top: 20px;
  right: 60px;
}

.cart .cart-left-container .promo-container {
  margin-bottom: 30px;
}

.cart .cart-left-container .promo-container .promo-code-box {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cart-left-container .promo-container .promo-code-box .promo-code-input {
  border-radius: 0;
  border-width: 1px 0 1px 1px;
  border-color: black;
  padding: 10px;
  width: 80%;
  outline: none;
}

.cart .cart-left-container .promo-container .promo-code-box input[type=text] {
  font-size: 16px;
}

.cart .cart-left-container .promo-container .promo-code-box .apply-btn {
  border: 1px solid #9E8765;
  padding: 10px 0;
  display: inline-block;
  border-radius: 0;
  color: #9E8765;
  background-color: transparent;
  width: 20%;
  font-size: 16px;
  cursor: pointer;
}

.cart .cart-left-container .promo-container .promo-code-box .apply-btn:hover, .cart .cart-left-container .promo-container .promo-code-box .apply-btn :active, .cart .cart-left-container .promo-container .promo-code-box .apply-btn :focus {
  color: #c4a87e;
  border: 1px solid #c4a87e;
}

.cart .cart-left-container .note-textarea {
  width: 330px;
  height: 150px;
  resize: none;
  border: 1px solid black;
  border-radius: 0;
  outline: none;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.cart .cart-right-container {
  width: 30%;
}

.cart .cart-right-container h1 {
  margin-bottom: 40px;
  width: 100%;
}

.cart .cart-right-container .order-summary-row {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart-right-container .order-summary-row span {
  display: inline-block;
}

.cart .cart-right-container .current-country {
  font-size: 15px;
  margin: 5px 0;
}

.cart .cart-right-container .postage-eligibility-alert {
  margin-top: 30px;
}

.cart .cart-right-container .postage-wrapper {
  width: 100%;
  position: relative;
}

.cart .cart-right-container .postage-wrapper .postage-box {
  padding: 10px 15px;
  border: 1px solid black;
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart-right-container .postage-wrapper .postage-box span {
  padding: 10px;
}

.cart .cart-right-container .postage-wrapper .delivery-options-container {
  border: 1px solid #474747;
  padding: 20px 0;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  -webkit-box-shadow: 0px 7px 13px 0px rgba(139, 139, 139, 0.5);
  box-shadow: 0px 7px 13px 0px rgba(139, 139, 139, 0.5);
}

.cart .cart-right-container .postage-wrapper .delivery-options-container li {
  width: 100%;
  padding: 10px 20px;
  list-style-type: none;
  cursor: pointer;
}

.cart .cart-right-container .postage-wrapper .delivery-options-container li:hover, .cart .cart-right-container .postage-wrapper .delivery-options-container li :active, .cart .cart-right-container .postage-wrapper .delivery-options-container li :focus {
  background-color: #F2F1F0;
}

.cart .cart-right-container .postage-wrapper .delivery-options-container li .postage-time {
  color: #474747;
  font-size: 13px;
  margin-top: 10px;
}

.cart .cart-right-container .total-row {
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #c4c4c4;
  padding: 20px 0;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart-right-container .checkout-btn {
  background-color: black;
}

.cart .cart-right-container .checkout-btn i {
  margin-right: 5px;
}

.country-select-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
}

.country-select-wrapper .country-select-container {
  position: absolute;
  display: block;
  width: 500px;
  background-color: white;
  padding: 80px 90px;
}

.country-select-wrapper .country-select-container h1 {
  margin-bottom: 30px;
  border: none;
  text-align: center;
}

.country-select-wrapper .country-select-container .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.country-select-wrapper .country-select-container .country-prompt {
  color: #474747;
  text-align: left;
}

.country-select-wrapper .country-select-container .country-select-inner-container {
  position: relative;
}

.country-select-wrapper .country-select-container .country-select-inner-container .country-select-box {
  width: 320px;
  border: 1px solid #c4c4c4;
  margin: 10px 0 0 0;
  padding: 10px 0;
}

.country-select-wrapper .country-select-container .country-select-inner-container .country-select-box:hover {
  border: 1px solid black;
}

.country-select-wrapper .country-select-container .country-select-inner-container .country-select-box .country-input {
  padding: 10px;
  width: 85%;
  font-size: 16px;
  border-radius: 0;
  border: none;
  outline: none;
}

.country-select-wrapper .country-select-container .country-select-inner-container .country-select-box .toggle-arrow-btn {
  color: #474747;
}

.country-select-wrapper .country-select-container .country-select-inner-container .suggestion-box {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #c4c4c4;
  position: absolute;
  background-color: white;
  width: 320px;
  top: 60px;
  left: 0;
  padding: 10px 0;
}

.country-select-wrapper .country-select-container .country-select-inner-container .suggestion-box .suggestion {
  text-align: left;
  padding: 6px 20px;
  cursor: pointer;
}

.country-select-wrapper .country-select-container .country-select-inner-container .suggestion-box .suggestion:hover {
  background-color: #F2F1F0;
}

.country-select-wrapper .country-select-container .update-btn {
  background-color: #9E8765;
  margin-top: 35px;
}

.site-footer {
  padding: 50px;
  bottom: 0;
  width: 100%;
  z-index: 40;
  margin: 0;
}

.site-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

.site-footer .footer-content .footer-left {
  width: 40%;
}

.site-footer .footer-content .footer-left h2 {
  border-bottom: none;
  width: 100%;
}

.site-footer .footer-content .footer-left .quick-link-list {
  padding: 20px 0;
}

.site-footer .footer-content .footer-left .quick-link-list li, .site-footer .footer-content .footer-left .quick-link-list .footer-page-link {
  list-style-type: none;
  text-decoration: underline;
  cursor: pointer;
}

.site-footer .footer-content .footer-left .quick-link-list li:hover, .site-footer .footer-content .footer-left .quick-link-list li :active, .site-footer .footer-content .footer-left .quick-link-list li :focus, .site-footer .footer-content .footer-left .quick-link-list .footer-page-link:hover, .site-footer .footer-content .footer-left .quick-link-list .footer-page-link :active, .site-footer .footer-content .footer-left .quick-link-list .footer-page-link :focus {
  color: black;
}

.site-footer .footer-content .footer-right {
  margin-left: 120px;
}

.site-footer .footer-content .footer-right p {
  font-family: "KoHo", sans-serif;
  font-size: 19px;
  color: gray;
  margin-bottom: 30px;
}

.site-footer .footer-content .footer-right form .email-input {
  border-radius: 0;
  border-width: 1px;
  border-color: black;
  padding: 15px;
  width: 320px;
  outline: none;
  font-size: 16px;
}

.site-footer .footer-content .footer-right form .email-input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.site-footer .footer-content .footer-right form .email-input:-ms-input-placeholder {
  color: #c4c4c4;
}

.site-footer .footer-content .footer-right form .email-input::-ms-input-placeholder {
  color: #c4c4c4;
}

.site-footer .footer-content .footer-right form .email-input::placeholder {
  color: #c4c4c4;
}

.site-footer .footer-content .footer-right form .subscribe-btn {
  color: white;
  background-color: black;
  display: inline-block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border: none;
}

.site-footer .footer-content .footer-right form .subscribe-btn:hover, .site-footer .footer-content .footer-right form .subscribe-btn :active, .site-footer .footer-content .footer-right form .subscribe-btn :focus {
  background-color: #c4c4c4;
}

.toggle-arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  display: inline-block;
}

.static-page-container {
  background-color: white;
  margin: 0 80px;
  padding: 100px;
  min-height: 100vh;
}

.static-page-container .brand-logo {
  margin-bottom: 50px;
}

.static-page-container h1 {
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto 20px auto;
}

.static-page-container .paragraphs {
  width: 60%;
  margin: 0 auto;
}

.static-page-container .paragraphs p {
  margin: 20px 0;
}

.error-page {
  background-color: white;
  margin: 0 80px;
  padding: 100px;
  min-height: 100vh;
}

.error-page .error-page-content {
  width: 60%;
  margin: 0 auto;
}

.error-page .error-page-content h1 {
  padding-bottom: 20px;
  margin: 0 auto 20px auto;
}

.error-page .error-page-content p {
  margin: 20px 0;
}

.burger-nav-btn {
  border: none;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  height: 50px;
  width: 50px;
  z-index: 20;
  outline: none;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.burger-nav-btn .burger-nav-icon::before {
  content: "";
  position: absolute;
  left: 5px;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.burger-nav-btn .burger-nav-icon::after {
  content: "";
  position: absolute;
  left: 5px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.burger-nav-btn .burger-nav-icon.close-mobile {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: transparent;
}

.burger-nav-btn .burger-nav-icon.close-mobile::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.burger-nav-btn .burger-nav-icon.close-mobile::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}
/*# sourceMappingURL=App.css.map */